<!DOCTYPE html>
<html>
<head>
<title><%= title %> </title>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/app.css">
</head>

<body>
<nav class="container mx-auto flex items-center justify-between py-4">
    <div>
        <img src="/images/piza.jpg" alt="logo pizza" class="logo" >
    </div>
    <div>
        <ul class="flex items-center">
         
          
            <% if(user) { %>
                <li class="ml-6"><a href="/addproduct">Add Product</a></li>
                <li class="ml-6"><a href="/logout">Logout</a></li>
            <% } else { %>
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
                <% } %>
      

            <li class="ml-6"><a href="/cart"><img src="images/cart.jpg" alt="cart" class="icon"></a></li>
        </ul>
    </div>
</nav>

